mixin demo({divisionsAmount=2, isRange="false", isTipsHidden="true", maxValue=100, minValue=0, orientation="horizontal", highValue=100, lowValue=0, step=1 } = {})
  .demo.js-demo(data-divisions-amount=divisionsAmount, data-is-range=isRange,
    data-tips-hidden=isTipsHidden, data-max-value=maxValue, data-min-value=minValue,
    data-orientation=orientation, data-high-value=highValue,
    data-low-value=lowValue, data-step=step )
    section.demo__slider.js-slider
    form.demo__panel.js-panel
      label.demo__panel-component
        span.demo__panel-label Max Value
        input.demo__panel-input.js-max-value(type="number")
      label.demo__panel-component
        span.demo__panel-label Min Value
        input.demo__panel-input.js-min-value(type="number")
      label.demo__panel-component
        span.demo__panel-label Low value
        input.demo__panel-input.js-low-value(type="number")
      label.demo__panel-component
        span.demo__panel-label High value
        input.demo__panel-input.js-high-value(type="number")
      label.demo__panel-component
        span.demo__panel-label Step
        input.demo__panel-input.js-step(type="number")
      label.demo__panel-component
        span.demo__panel-label Range
        input.demo__panel-input.js-range(type="checkbox")
      label.demo__panel-component
        span.demo__panel-label Show tips
        input.demo__panel-input.js-tips-showed(type="checkbox")
      label.demo__panel-component
        span.demo__panel-label Vertical
        input.demo__panel-input.js-vertical(type="checkbox")